#quer{
    width:500px;
    height: 300px;
    background-color: aqua;
    text-align: center;
    display: cover;
    justify-content: center;
    
}

a{
    width:200px;
    height:200px;
    text-align:center;

}


